<log4net>
  <logger name="Fatal">
    <level value="ERROR" />
    <appender-ref ref="FatalAppender" />
  </logger>
  <logger name="Error">
    <level value="ERROR" />
    <appender-ref ref="ErrorAppender" />
  </logger>
  <logger name="Info">
    <level value="INFO" />
    <appender-ref ref="InfoAppender" />
  </logger>
  <logger name="Debug">
    <level value="DEBUG" />
    <appender-ref ref="DebugAppender" />
  </logger>
  <appender name="FatalAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="${LocalAppData}\USDT Wallet\Logs\fatal.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="10000" />
    <param name="MaximumFileSize" value="10000000" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d [%c] %m%n" />
    </layout>
  </appender>
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="${LocalAppData}\USDT Wallet\Logs\error.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="10000" />
    <param name="MaximumFileSize" value="10000000" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d [%c] %m%n" />
    </layout>
  </appender>
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="${LocalAppData}\USDT Wallet\Logs\info.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="10000" />
    <param name="MaximumFileSize" value="10000000" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d [%c] %m%n" />
    </layout>
  </appender>
  <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="${LocalAppData}\USDT Wallet\Logs\debug.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="10000" />
    <param name="MaximumFileSize" value="10000000" />
    <param name="RollingStyle" value="Size" />
    <param name="StaticLogFileName" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d [%c] %m%n" />
    </layout>
  </appender>
</log4net>